/* Do not change these values,
 * treat them as readonly
 */

:root {
    --sider-width-collapsed: 80px;
    --sider-width: 200px;
    --header-height: 64px;
}

.layout {
    min-height: 100vh;
    margin-left: var(--sider-width);
}

.layout-header {
    width: calc(100% - var(--sider-width));
    position: fixed;
    z-index: 999;
    padding-left: 0;
    padding-right: 0;
    background-color: #ffffff;
}

.layout-header-collapsed {
    width: calc(100% - var(--sider-width-collapsed));
    position: fixed;
    z-index: 999;
    padding-left: 0;
    padding-right: 0;
    background-color: #ffffff;
}

.layout-sider {
    height: 100vh;
    position: fixed;
    overflow: auto;
    left: 0;
    z-index: 999;
}

.layout-content {
    padding: calc(var(--header-height) + 50px);
}