.search {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    height: 64px;
}

.search-bar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}