.form {
    max-width: 500px;
    margin: 0 auto;
}

.form-input {
    margin-bottom: 24px;
}

.form-label-text {
    margin-bottom: 8px;
}

.form-label-text.required::before {
    content: '*';
    color: #ff4d4f;
    margin-right: 4px;
}